<template name="videoPlayer">
      <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
             preload="auto" width="100%" height="270px"
             data-setup='{ "controlBar": {"muteToggle" : false} }'>
          <source src="2.mp4" type="video/mp4" />
                  <!-- <source src="https://www.youtube.com/v/65qlhuukk2A&html5=true" type="video/webm" />
                  <source src="https://www.youtube.com/v/65qlhuukk2A&html5=true" type="video/ogg" /> -->
            File Not found
      </video>
      <div class="my-video-overlay">
      </div>
</template>
